<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body class="bg-gray-100 flex flex-col min-h-screen">
    <%- include('partials/navigation') %>

    <div class="flex-grow">
        <main class="container mx-auto p-6">
            <h1 class="text-2xl font-bold mb-4">Not Found!</h1>
            <p class="text-gray-700 mb-4">The page you are looking for does not exist.</p>
            <a href="/" class="text-blue-600 underline">Return to the home page</a>
        </main>
    </div>
    <div class="mt-auto">
        <%- include('partials/footer') %>
    </div>
</body>

</html>